/* BASIC STYLES HERE */
.profile-picture {
  height: 200px;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.profile-picture.profile-picture-sm {
  height: 64px;
}

body {
  background-size: cover;
  text-shadow: 1px 1px 2px black;
}

p {
  text-shadow: 1px 1px 2px black;
  color: whitesmoke;

}

.container-quote {
  min-height: 50vh;
  padding-top: 30vh;

}


.secret-text {
  opacity: 0;
  transition: all 2s
}

.secret-text:hover {
  opacity: unset;
}